@font-face {
    font-family: 'GoblinOne';
    src: url('./GoblinOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.sample-class {
    color: #ff0000;
    font-family: 'GoblinOne';
}